In [1]:
import pandas as pd

In [2]:
sample_1 = pd.read_excel('./files/sample_1.xlsx',
                         header=1, #위쪽 컬럼
                        skipfooter = 2, #아래쪽 2줄 제외
                        usecols = 'A:C') 
sample_1.head(3)

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319

In [3]:
sample_1.tail(3)

  국적코드  성별    입국객수
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [4]:
sample_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적코드    6 non-null      object
 1   성별      6 non-null      object
 2   입국객수    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [5]:
sample_1.describe()

                입국객수
count       6.000000
mean   114995.333333
std     98105.752006
min        42.000000
25%     26819.250000
50%    132616.000000
75%    183305.000000
max    232943.000000

In [6]:
sample_1

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [7]:
sample_1[['국적코드','입국객수']]

  국적코드    입국객수
0  A01  106320
1  A01  191436
2  A31     319
3  A31      42
4  A18  158912
5  A18  232943

In [8]:
sample_1['기준년월'] = '2019-11'

In [9]:
sample_1

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
1  A01  여성  191436  2019-11
2  A31  남성     319  2019-11
3  A31  여성      42  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [10]:
condition = (sample_1['성별'] == '남성')
condition

0     True
1    False
2     True
3    False
4     True
5    False
Name: 성별, dtype: bool

In [11]:
#블리언 인덱싱

In [12]:
sample_1[condition]

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
2  A31  남성     319  2019-11
4  A18  남성  158912  2019-11

In [13]:
conditions = (sample_1['성별']=='남성') &(sample_1['입국객수'] >= 15000)

In [14]:
conditions

0     True
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [15]:
sample_1[conditions]

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
4  A18  남성  158912  2019-11

In [16]:
conditions = (sample_1['국적코드'] == 'A01') | (sample_1['국적코드']=='A18')
sample_1[conditions]

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
1  A01  여성  191436  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [17]:
conditions = (sample_1['국적코드'].isin(['A01','A18']))
conditions

0     True
1     True
2    False
3    False
4     True
5     True
Name: 국적코드, dtype: bool

데이터 통합하기(옆으로 통합)

In [18]:
sample_1

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2019-11
1  A01  여성  191436  2019-11
2  A31  남성     319  2019-11
3  A31  여성      42  2019-11
4  A18  남성  158912  2019-11
5  A18  여성  232943  2019-11

In [19]:
code_master = pd.read_excel('./files/sample_codemaster.xlsx')
code_master

  국적코드     국적명
0  A01      일본
1  A02      대만
2  A03      홍콩
3  A18      중국
4  A19      이란
5  A22  우즈베키스탄
6  A23   카자흐스탄
7  A99  아시아 기타

In [20]:
sample_1_code = pd.merge(left=sample_1,
                        right = code_master,
                        how = 'left',
                        left_on='국적코드',
                        right_on="국적코드")

In [21]:
sample_1_code

  국적코드  성별    입국객수     기준년월  국적명
0  A01  남성  106320  2019-11   일본
1  A01  여성  191436  2019-11   일본
2  A31  남성     319  2019-11  NaN
3  A31  여성      42  2019-11  NaN
4  A18  남성  158912  2019-11   중국
5  A18  여성  232943  2019-11   중국

In [22]:
sample_1_inner = pd.merge(left=sample_1,
                        right = code_master,
                        how = 'inner',
                        left_on='국적코드',
                        right_on="국적코드")
sample_1_inner

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성  106320  2019-11  일본
1  A01  여성  191436  2019-11  일본
2  A18  남성  158912  2019-11  중국
3  A18  여성  232943  2019-11  중국

데이터 통합하기 (아래로 통합)

In [23]:
sample_2 = pd.read_excel('./files/sample_2.xlsx',
                         header=1, #위쪽 컬럼
                        skipfooter = 2, #아래쪽 2줄 제외
                        usecols = 'A:C') 
sample_2.head(3)

  국적코드  성별    입국객수
0  A01  남성   92556
1  A01  여성  163737
2  A18  남성  155540

In [24]:
sample_2['기준년월'] = '2019-12'

In [25]:
sample_2_code = pd.merge(left=sample_2,
                        right = code_master,
                        how = 'left',
                        left_on='국적코드',
                        right_on="국적코드")

sample_2_code

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성   92556  2019-12  일본
1  A01  여성  163737  2019-12  일본
2  A18  남성  155540  2019-12  중국
3  A18  여성  249023  2019-12  중국

In [26]:
sample = sample_1_code.append(sample_2_code, ignore_index=True)
sample

  국적코드  성별    입국객수     기준년월  국적명
0  A01  남성  106320  2019-11   일본
1  A01  여성  191436  2019-11   일본
2  A31  남성     319  2019-11  NaN
3  A31  여성      42  2019-11  NaN
4  A18  남성  158912  2019-11   중국
5  A18  여성  232943  2019-11   중국
6  A01  남성   92556  2019-12   일본
7  A01  여성  163737  2019-12   일본
8  A18  남성  155540  2019-12   중국
9  A18  여성  249023  2019-12   중국

In [27]:
sample.to_excel('./files/sample_index_false.xlsx', index = False)

In [28]:
sample_pivot = sample.pivot_table(values = '입국객수',
                                 index = '국적명',
                                 columns = '기준년월',
                                 aggfunc='mean')

sample_pivot

기준년월   2019-11   2019-12
국적명
일본    148878.0  128146.5
중국    195927.5  202281.5

In [29]:
#v = 입국객수, i = 국적명, a = max

In [30]:
sample_pivot_2 = sample.pivot_table(values = '입국객수',
                                 index = '국적명',
                                 aggfunc='max')

sample_pivot_2

       입국객수
국적명
일본   191436
중국   249023

selenium과 크롬드라이버 설치

In [31]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [32]:
from selenium import webdriver

In [33]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\programdata\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: crayons in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: configparser in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (5.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from crayons->webdriver-manager) (0.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.7)

In [34]:
from webdriver_manager.chrome import ChromeDriverManager

In [35]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.102/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\SindongIn\.wdm\drivers\chromedriver\win32\98.0.4758.102]
C:\Users\SINDON~1\AppData\Local\Temp/ipykernel_17852/1503906442.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [36]:
url = "http://www.naver.com"
driver.get(url)

In [37]:
html = driver.page_source

In [38]:
html = '''
<html>
    <head>
    </head>
    <body>
        <h1> 우리동네시장</h1>
            <div class = 'sale'>
                <p id='fruits1' class='fruits'>
                    <span class = 'name'> 바나나 </span>
                    <span class = 'price'> 3000원 </span>
                    <span class = 'inventory'> 500개 </span>
                    <span class = 'store'> 가나다상회 </span>
                    <a href = 'http://bit.ly/forPlaywithData' > 홈페이지 </a>
                </p>
            </div>
            <div class = 'prepare'>
                <p id='fruits2' class='fruits'>
                    <span class ='name'> 파인애플 </span>
                </p>
            </div>
    </body>
</html>

'''

In [39]:
from bs4 import BeautifulSoup

In [40]:
soup = BeautifulSoup(html, 'html.parser' )

In [41]:
tags_span = soup.select('span')
# tags_span
tags_p = soup.select('p')
tags_p

[<p class="fruits" id="fruits1">
 <span class="name"> 바나나 </span>
 <span class="price"> 3000원 </span>
 <span class="inventory"> 500개 </span>
 <span class="store"> 가나다상회 </span>
 <a href="http://bit.ly/forPlaywithData"> 홈페이지 </a>
 </p>,
 <p class="fruits" id="fruits2">
 <span class="name"> 파인애플 </span>
 </p>]

In [42]:
ids_fruits1 = soup.select('#fruits1')
ids_fruits1

[<p class="fruits" id="fruits1">
 <span class="name"> 바나나 </span>
 <span class="price"> 3000원 </span>
 <span class="inventory"> 500개 </span>
 <span class="store"> 가나다상회 </span>
 <a href="http://bit.ly/forPlaywithData"> 홈페이지 </a>
 </p>]

In [43]:
class_price = soup.select('.price')
class_price

In [44]:
tags_span_class_price = soup.select('span.price')
tags_span_class_price

In [45]:
tags_name = soup.select('span.name')
print(tags_name)

[<span class="name"> 바나나 </span>, <span class="name"> 파인애플 </span>]

In [46]:
tags_banana = soup.select('#fruits1 .name')
tags_banana

In [47]:
tags_banana = soup.select('.sale > #fruits1 > .name')
tags_banana

In [48]:
tags = soup.select('span.name')
tag_1 = tags[0]
tag_1

In [49]:
tags = soup.select('span.name')

for tag in tags:
    print(tag)

<span class="name"> 바나나 </span>
<span class="name"> 파인애플 </span>

In [50]:
tags = soup.select('a')
tag = tags[0]
content = tag.text
print(content)

 홈페이지

In [51]:
link = tag['href']
link

'http://bit.ly/forPlaywithData'

In [52]:
url = "http://www.melon.com/chart/index.htm"
driver.get(url)

In [53]:
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')

In [54]:
songs = soup.select('tr')
print(len(songs))

101

In [55]:
print(songs[0])

<tr>
<th scope="col">
<div class="wrap t_right"><input class="input_check d_checkall" title="곡 목록 전체 선택" type="checkbox"/></div>
</th>
<th scope="col">
<div class="wrap t_center"><span class="rank">순위</span></div>
</th>
<th scope="col">
<div class="wrap none">순위등락</div>
</th>
<th scope="col">
<div class="wrap none">앨범이미지</div>
</th>
<th scope="col">
<div class="wrap none">곡 상세가기</div>
</th>
<th scope="col">
<div class="wrap pd_l_12">곡정보</div>
</th>
<th scope="col">
<div class="wrap pd_l_12">앨범</div>
</th>
<th scope="col">
<div class="wrap pd_l_30">좋아요</div>
</th>
<th scope="col">
<div class="wrap t_center">듣기</div>
</th>
<th scope="col">
<div class="wrap t_center">담기</div>
</th>
<th scope="col">
<div class="wrap t_center">다운</div>
</th>
<th scope="col">
<div class="wrap t_center">뮤비</div>
</th>
</tr>

In [56]:
songs = soup.select('tr')[1:]
print(len(songs))

songs[1]

100

<tr class="lst50" data-song-no="34061322" id="lst50">
<td><div class="wrap t_right"><input class="input_check" name="input_check" title="사랑은 늘 도망가 곡 선택" type="checkbox" value="34061322"/></div></td>
<td><div class="wrap t_center"><span class="rank">2</span><span class="none">위</span></div></td>
<!-- 차트순위 추가 -->
<td><div class="wrap">
<span class="rank_wrap" title="1단계 하락">
<span class="bullet_icons rank_down"><span class="none">단계 하락</span></span>
<span class="down">1</span>
</span>
</div></td>
<td><div class="wrap">
<a class="image_typeAll" href="javascript:melon.link.goAlbumDetail('10735654');" title="신사와 아가씨 OST Part.2">
<img alt="신사와 아가씨 OST Part.2 - 페이지 이동" height="60" onerror="WEBPOCIMG.defaultAlbumImg(this);" src="https://cdnimg.melon.co.kr/cm2/album/images/107/35/654/10735654_20211008114339_500.jpg/melon/resize/120/quality/80/optimize" width="60"/>
<span class="bg_album_frame"></span>
</a>
</div></td>
<td><div class="wrap">
<a class="btn button_icons type03 song_info" href="javascript:melon.link.goSongDetail('34061322');" title="사랑은 늘 도망가 곡정보"><span class="none">곡정보</span></a>
</div></td>
<td><div class="wrap">
<div class="wrap_song_info">
<div class="ellipsis rank01"><span>
<a href="javascript:melon.play.playSong('1000002721',34061322);" title="사랑은 늘 도망가 재생">사랑은 늘 도망가</a>
</span></div><br/>
<div class="ellipsis rank02">
<a href="javascript:melon.link.goArtistDetail('994944');" title="임영웅 - 페이지 이동">임영웅</a><span class="checkEllipsis" style="display: none;"><a href="javascript:melon.link.goArtistDetail('994944');" title="임영웅 - 페이지 이동">임영웅</a></span>
</div>
</div>
</div></td>
<td><div class="wrap">
<div class="wrap_song_info">
<div class="ellipsis rank03">
<a href="javascript:melon.link.goAlbumDetail('10735654');" title="신사와 아가씨 OST Part.2 - 페이지 이동">신사와 아가씨 OST Part.2</a>
</div>
</div>
</div></td>
<td><div class="wrap">
<button class="button_etc like" data-song-menuid="1000002721" data-song-no="34061322" title="사랑은 늘 도망가 좋아요" type="button"><span class="odd_span">좋아요</span>
<span class="cnt">
<span class="none">총건수</span>
131,675</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons play" onclick="melon.play.playSong('1000002721',34061322);" title="듣기" type="button"><span class="none">듣기</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons scrap" onclick="melon.play.addPlayList('34061322');" title="담기" type="button"><span class="none">담기</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons download" onclick="melon.buy.goBuyProduct('frm', '34061322', '3C0001', '','0', '1000002721');" title="다운로드" type="button"><span class="none">다운로드</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons video" onclick="melon.link.goMvDetail('1000002721', '34061322','song');" title="뮤직비디오" type="button"><span class="none">뮤직비디오</span></button>
</div></td>
</tr>

In [57]:
print(songs[0])

<tr class="lst50" data-song-no="34626109" id="lst50">
<td><div class="wrap t_right"><input class="input_check" name="input_check" title="INVU 곡 선택" type="checkbox" value="34626109"/></div></td>
<td><div class="wrap t_center"><span class="rank">1</span><span class="none">위</span></div></td>
<!-- 차트순위 추가 -->
<td><div class="wrap">
<span class="rank_wrap" title="1단계 상승">
<span class="bullet_icons rank_up"><span class="none">단계 상승</span></span>
<span class="up">1</span>
</span>
</div></td>
<td><div class="wrap">
<a class="image_typeAll" href="javascript:melon.link.goAlbumDetail('10863559');" title="INVU - The 3rd Album">
<img alt="INVU - The 3rd Album - 페이지 이동" height="60" onerror="WEBPOCIMG.defaultAlbumImg(this);" src="https://cdnimg.melon.co.kr/cm2/album/images/108/63/559/10863559_20220214160739_500.jpg/melon/resize/120/quality/80/optimize" width="60"/>
<span class="bg_album_frame"></span>
</a>
</div></td>
<td><div class="wrap">
<a class="btn button_icons type03 song_info" href="javascript:melon.link.goSongDetail('34626109');" title="INVU 곡정보"><span class="none">곡정보</span></a>
</div></td>
<td><div class="wrap">
<div class="wrap_song_info">
<div class="ellipsis rank01"><span>
<a href="javascript:melon.play.playSong('1000002721',34626109);" title="INVU 재생">INVU</a>
</span></div><br/>
<div class="ellipsis rank02">
<a href="javascript:melon.link.goArtistDetail('236797');" title="태연 (TAEYEON) - 페이지 이동">태연 (TAEYEON)</a><span class="checkEllipsis" style="display: none;"><a href="javascript:melon.link.goArtistDetail('236797');" title="태연 (TAEYEON) - 페이지 이동">태연 (TAEYEON)</a></span>
</div>
</div>
</div></td>
<td><div class="wrap">
<div class="wrap_song_info">
<div class="ellipsis rank03">
<a href="javascript:melon.link.goAlbumDetail('10863559');" title="INVU - The 3rd Album - 페이지 이동">INVU - The 3rd Album</a>
</div>
</div>
</div></td>
<td><div class="wrap">
<button class="button_etc like" data-song-menuid="1000002721" data-song-no="34626109" title="INVU 좋아요" type="button"><span class="odd_span">좋아요</span>
<span class="cnt">
<span class="none">총건수</span>
55,015</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons play" onclick="melon.play.playSong('1000002721',34626109);" title="듣기" type="button"><span class="none">듣기</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons scrap" onclick="melon.play.addPlayList('34626109');" title="담기" type="button"><span class="none">담기</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons download" onclick="melon.buy.goBuyProduct('frm', '34626109', '3C0001', '','0', '1000002721');" title="다운로드" type="button"><span class="none">다운로드</span></button>
</div></td>
<td><div class="wrap t_center">
<button class="button_icons video" onclick="melon.link.goMvDetail('1000002721', '34626109','song');" title="뮤직비디오" type="button"><span class="none">뮤직비디오</span></button>
</div></td>
</tr>

In [58]:
song = songs[0]

In [59]:
title = song.select('a')
len(title)

6

In [60]:
title = song.select('span > a')
len(title)

2

In [61]:
title = song.select('div.ellipsis.rank01 > span > a')
len(title)
title

In [62]:
title = song.select('div.ellipsis.rank01 > span > a')[0].text
print(title)

INVU

In [63]:
title = song.select('div.ellipsis.rank02 > span > a')[0].text
print(title)
songs[2].select('div.ellipsis.rank01 > span > a')

태연 (TAEYEON)

In [64]:
songs = soup.select('tr')[1:]

i = int(0)
for tag in songs:
  
    title = songs[i].select('div.ellipsis.rank01 > span > a')[0].text
    singer = songs[i].select('div.ellipsis.rank02 > span > a')[0].text
    print(i+1,"위: ",title ,"|", singer)
    i = i+1

1 위:  INVU | 태연 (TAEYEON)
2 위:  사랑은 늘 도망가 | 임영웅
3 위:  취중고백 | 김민석 (멜로망스)
4 위:  언제나 사랑해 | 케이시 (Kassy)
5 위:  ELEVEN | IVE (아이브)
6 위:  Step Back | GOT the beat
7 위:  회전목마 (Feat. Zion.T, 원슈타인) (Prod. Slom) | sokodomo
8 위:  호랑수월가 | 탑현
9 위:  이제 나만 믿어요 | 임영웅
10 위:  SMILEY (Feat. BIBI) | YENA (최예나)
11 위:  다정히 내 이름을 부르면 | 경서예지
12 위:  리무진 (Feat. MINO) (Prod. GRAY) | BE'O (비오)
13 위:  abcdefu | GAYLE
14 위:  너, 너 (N번째 연애 X 휘인 (Whee In)) | 휘인 (Whee In)
15 위:  눈이 오잖아(Feat.헤이즈) | 이무진
16 위:  Counting Stars (Feat. Beenzino) | BE'O (비오)
17 위:  다시 사랑한다면 (김필 Ver.) | 임영웅
18 위:  별빛 같은 나의 사랑아 | 임영웅
19 위:  Dreams Come True | aespa
20 위:  그대라는 사치 | 임영웅
21 위:  잊을 수 있을까 | 노을
22 위:  STAY | The Kid LAROI
23 위:  신호등 | 이무진
24 위:  Can't Control Myself | 태연 (TAEYEON)
25 위:  잊었니 | 임영웅
26 위:  HERO | 임영웅
27 위:  Next Level | aespa
28 위:  strawberry moon | 아이유
29 위:  겨울잠 | 아이유
30 위:  끝사랑 | 임영웅
31 위:  너 아니면 안돼 | 먼데이 키즈 (Monday Kiz)
32 위:  노래 (The Song) | 비투비
33 위:  Bk Love | 임영웅
34 위:  Butter | 방탄소년단
35 위:  Savage | aespa
36 위:  만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. TOIL) | 베이식 (Basick)
37 위:  RUN2U | STAYC(스테이씨)
38 위:  드라마 | 아이유
39 위:  Dynamite | 방탄소년단
40 위:  Christmas Tree | V
41 위:  Weekend | 태연 (TAEYEON)
42 위:  그래서 그래 (Feat. 윤하) | 에픽하이 (EPIK HIGH)
43 위:  너를 생각해 | 주시크 (Joosiq)
44 위:  Permission to Dance | 방탄소년단
45 위:  계단말고 엘리베이터 | 임영웅
46 위:  OHAYO MY NIGHT | 디핵 (D-Hack)
47 위:  서랍 | 10CM
48 위:  바라만 본다 | MSG워너비(M.O.M)
49 위:  우리가 헤어져야 했던 이유 | 비비 (BIBI)
50 위:  My Universe | Coldplay
51 위:  언덕나무 | 이승윤
52 위:  흰눈 | 먼데이 키즈 (Monday Kiz)
53 위:  사랑인가 봐 | 멜로망스
54 위:  문득 | BE'O (비오)
55 위:  Celebrity | 아이유
56 위:  라일락 | 아이유
57 위:  대낮에 한 이별 | 선예
58 위:  낙하 (with 아이유) | AKMU (악뮤)
59 위:  밤하늘의 별을(2020) | 경서
60 위:  헤픈 우연 | 헤이즈 (Heize)
61 위:  네가 없는 밤 (Feat. ASH ISLAND) (Prod. GRAY) | BE'O (비오)
62 위:  사이렌 Remix (Feat. UNEDUCATED KID, Paul Blanco) | 호미들
63 위:  Bad Habits | Ed Sheeran
64 위:  너의 모든 순간 | 성시경
65 위:  찰나가 영원이 될 때 (The Eternal Moment) | 마크툽 (MAKTUB)
66 위:  그런 밤 (Some Nights) | 태연 (TAEYEON)
67 위:  불협화음 (Feat. AKMU) (Prod. GRAY) | Mudd the student
68 위:  모든 날, 모든 순간 (Every day, Every Moment) | 폴킴
69 위:  강변북로 | 황인욱
70 위:  사랑이 아니었다고 말하지 마요 | 이예준
71 위:  봄날 | 방탄소년단
72 위:  어떻게 이별까지 사랑하겠어, 널 사랑하는 거지 | AKMU (악뮤)
73 위:  내 손을 잡아 | 아이유
74 위:  쉬어 (Feat. MINO) (Prod. GRAY) | 아넌딜라이트(Anandelight)
75 위:  그게 더 편할 것 같아 (N번째 연애 X 멜로망스) | 멜로망스
76 위:  롤린 (Rollin') | 브레이브걸스
77 위:  Dilemma | Apink (에이핑크)
78 위:  Wake Up (Prod. 코드 쿤스트) | 개코
79 위:  Off My Face | Justin Bieber
80 위:  고백 | 멜로망스
81 위:  Blueming | 아이유
82 위:  작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey) | 방탄소년단
83 위:  Good Night (Feat. BE'O) | 쿠기 (Coogie)
84 위:  겨울..그다음 봄 | 로시 (Rothy)
85 위:  Dun Dun Dance | 오마이걸 (OH MY GIRL)
86 위:  Stay Alive (Prod. SUGA of BTS) | 정국
87 위:  추억은 만남보다 이별에 남아 | 정동하
88 위:  오늘도 빛나는 너에게 (To You My Light) (Feat.이라온) | 마크툽 (MAKTUB)
89 위:  밝게 빛나는 별이 되어 비춰줄게 | 송이한
90 위:  취기를 빌려 (취향저격 그녀 X 산들) | 산들
91 위:  Savage Love (Laxed - Siren Beat) (BTS Remix) | Jawsh 685
92 위:  DM | 프로미스나인
93 위:  그날에 나는 맘이 편했을까 | 이예준
94 위:  시간을 거슬러 (낮에 뜨는 달 X 케이윌) | 케이윌
95 위:  이별후회 | 김나영
96 위:  Life Goes On | 방탄소년단
97 위:  비가 오는 날엔 (2021) | 헤이즈 (Heize)
98 위:  Because | ASH ISLAND
99 위:  봄이 피어나 | 비투비
100 위:  여름비 | 샘김 (Sam Kim)

In [65]:
song_data = []
rank = 1
songs = soup.select('table > tbody > tr')
for song in songs:
    title = song.select('div.ellipsis.rank01 > span > a')[0].text
    singer = song.select('div.ellipsis.rank02 > span > a')[0].text
    song_data.append(["Melon",rank,title,singer])
    rank = rank + 1
song_data

[['Melon', 1, 'INVU', '태연 (TAEYEON)'],
 ['Melon', 2, '사랑은 늘 도망가', '임영웅'],
 ['Melon', 3, '취중고백', '김민석 (멜로망스)'],
 ['Melon', 4, '언제나 사랑해', '케이시 (Kassy)'],
 ['Melon', 5, 'ELEVEN', 'IVE (아이브)'],
 ['Melon', 6, 'Step Back', 'GOT the beat'],
 ['Melon', 7, '회전목마 (Feat. Zion.T, 원슈타인) (Prod. Slom)', 'sokodomo'],
 ['Melon', 8, '호랑수월가', '탑현'],
 ['Melon', 9, '이제 나만 믿어요', '임영웅'],
 ['Melon', 10, 'SMILEY (Feat. BIBI)', 'YENA (최예나)'],
 ['Melon', 11, '다정히 내 이름을 부르면', '경서예지'],
 ['Melon', 12, '리무진 (Feat. MINO) (Prod. GRAY)', "BE'O (비오)"],
 ['Melon', 13, 'abcdefu', 'GAYLE'],
 ['Melon', 14, '너, 너 (N번째 연애 X 휘인 (Whee In))', '휘인 (Whee In)'],
 ['Melon', 15, '눈이 오잖아(Feat.헤이즈)', '이무진'],
 ['Melon', 16, 'Counting Stars (Feat. Beenzino)', "BE'O (비오)"],
 ['Melon', 17, '다시 사랑한다면 (김필 Ver.)', '임영웅'],
 ['Melon', 18, '별빛 같은 나의 사랑아', '임영웅'],
 ['Melon', 19, 'Dreams Come True', 'aespa'],
 ['Melon', 20, '그대라는 사치', '임영웅'],
 ['Melon', 21, '잊을 수 있을까', '노을'],
 ['Melon', 22, 'STAY', 'The Kid LAROI'],
 ['Melon', 23, '신호등', '이무진'],
 ['Melon', 24, "Can't Control Myself", '태연 (TAEYEON)'],
 ['Melon', 25, '잊었니', '임영웅'],
 ['Melon', 26, 'HERO', '임영웅'],
 ['Melon', 27, 'Next Level', 'aespa'],
 ['Melon', 28, 'strawberry moon', '아이유'],
 ['Melon', 29, '겨울잠', '아이유'],
 ['Melon', 30, '끝사랑', '임영웅'],
 ['Melon', 31, '너 아니면 안돼', '먼데이 키즈 (Monday Kiz)'],
 ['Melon', 32, '노래 (The Song)', '비투비'],
 ['Melon', 33, 'Bk Love', '임영웅'],
 ['Melon', 34, 'Butter', '방탄소년단'],
 ['Melon', 35, 'Savage', 'aespa'],
 ['Melon',
  36,
  '만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. TOIL)',
  '베이식 (Basick)'],
 ['Melon', 37, 'RUN2U', 'STAYC(스테이씨)'],
 ['Melon', 38, '드라마', '아이유'],
 ['Melon', 39, 'Dynamite', '방탄소년단'],
 ['Melon', 40, 'Christmas Tree', 'V'],
 ['Melon', 41, 'Weekend', '태연 (TAEYEON)'],
 ['Melon', 42, '그래서 그래 (Feat. 윤하)', '에픽하이 (EPIK HIGH)'],
 ['Melon', 43, '너를 생각해', '주시크 (Joosiq)'],
 ['Melon', 44, 'Permission to Dance', '방탄소년단'],
 ['Melon', 45, '계단말고 엘리베이터', '임영웅'],
 ['Melon', 46, 'OHAYO MY NIGHT', '디핵 (D-Hack)'],
 ['Melon', 47, '서랍', '10CM'],
 ['Melon', 48, '바라만 본다', 'MSG워너비(M.O.M)'],
 ['Melon', 49, '우리가 헤어져야 했던 이유', '비비 (BIBI)'],
 ['Melon', 50, 'My Universe', 'Coldplay'],
 ['Melon', 51, '언덕나무', '이승윤'],
 ['Melon', 52, '흰눈', '먼데이 키즈 (Monday Kiz)'],
 ['Melon', 53, '사랑인가 봐', '멜로망스'],
 ['Melon', 54, '문득', "BE'O (비오)"],
 ['Melon', 55, 'Celebrity', '아이유'],
 ['Melon', 56, '라일락', '아이유'],
 ['Melon', 57, '대낮에 한 이별', '선예'],
 ['Melon', 58, '낙하 (with 아이유)', 'AKMU (악뮤)'],
 ['Melon', 59, '밤하늘의 별을(2020)', '경서'],
 ['Melon', 60, '헤픈 우연', '헤이즈 (Heize)'],
 ['Melon', 61, '네가 없는 밤 (Feat. ASH ISLAND) (Prod. GRAY)', "BE'O (비오)"],
 ['Melon', 62, '사이렌 Remix (Feat. UNEDUCATED KID, Paul Blanco)', '호미들'],
 ['Melon', 63, 'Bad Habits', 'Ed Sheeran'],
 ['Melon', 64, '너의 모든 순간', '성시경'],
 ['Melon', 65, '찰나가 영원이 될 때 (The Eternal Moment)', '마크툽 (MAKTUB)'],
 ['Melon', 66, '그런 밤 (Some Nights)', '태연 (TAEYEON)'],
 ['Melon', 67, '불협화음 (Feat. AKMU) (Prod. GRAY)', 'Mudd the student'],
 ['Melon', 68, '모든 날, 모든 순간 (Every day, Every Moment)', '폴킴'],
 ['Melon', 69, '강변북로', '황인욱'],
 ['Melon', 70, '사랑이 아니었다고 말하지 마요', '이예준'],
 ['Melon', 71, '봄날', '방탄소년단'],
 ['Melon', 72, '어떻게 이별까지 사랑하겠어, 널 사랑하는 거지', 'AKMU (악뮤)'],
 ['Melon', 73, '내 손을 잡아', '아이유'],
 ['Melon', 74, '쉬어 (Feat. MINO) (Prod. GRAY)', '아넌딜라이트(Anandelight)'],
 ['Melon', 75, '그게 더 편할 것 같아 (N번째 연애 X 멜로망스)', '멜로망스'],
 ['Melon', 76, "롤린 (Rollin')", '브레이브걸스'],
 ['Melon', 77, 'Dilemma', 'Apink (에이핑크)'],
 ['Melon', 78, 'Wake Up (Prod. 코드 쿤스트)', '개코'],
 ['Melon', 79, 'Off My Face', 'Justin Bieber'],
 ['Melon', 80, '고백', '멜로망스'],
 ['Melon', 81, 'Blueming', '아이유'],
 ['Melon', 82, '작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)', '방탄소년단'],
 ['Melon', 83, "Good Night (Feat. BE'O)", '쿠기 (Coogie)'],
 ['Melon', 84, '겨울..그다음 봄', '로시 (Rothy)'],
 ['Melon', 85, 'Dun Dun Dance', '오마이걸 (OH MY GIRL)'],
 ['Melon', 86, 'Stay Alive (Prod. SUGA of BTS)', '정국'],
 ['Melon', 87, '추억은 만남보다 이별에 남아', '정동하'],
 ['Melon', 88, '오늘도 빛나는 너에게 (To You My Light) (Feat.이라온)', '마크툽 (MAKTUB)'],
 ['Melon', 89, '밝게 빛나는 별이 되어 비춰줄게', '송이한'],
 ['Melon', 90, '취기를 빌려 (취향저격 그녀 X 산들)', '산들'],
 ['Melon', 91, 'Savage Love (Laxed - Siren Beat) (BTS Remix)', 'Jawsh 685'],
 ['Melon', 92, 'DM', '프로미스나인'],
 ['Melon', 93, '그날에 나는 맘이 편했을까', '이예준'],
 ['Melon', 94, '시간을 거슬러 (낮에 뜨는 달 X 케이윌)', '케이윌'],
 ['Melon', 95, '이별후회', '김나영'],
 ['Melon', 96, 'Life Goes On', '방탄소년단'],
 ['Melon', 97, '비가 오는 날엔 (2021)', '헤이즈 (Heize)'],
 ['Melon', 98, 'Because', 'ASH ISLAND'],
 ['Melon', 99, '봄이 피어나', '비투비'],
 ['Melon', 100, '여름비', '샘김 (Sam Kim)']]

In [66]:
columns = ['서비스','순위','타이틀','가수']
pd_data = pd.DataFrame(song_data,columns = columns)
pd_data.head()

     서비스  순위        타이틀            가수
0  Melon   1       INVU  태연 (TAEYEON)
1  Melon   2  사랑은 늘 도망가           임영웅
2  Melon   3       취중고백    김민석 (멜로망스)
3  Melon   4    언제나 사랑해   케이시 (Kassy)
4  Melon   5     ELEVEN     IVE (아이브)

In [67]:
pd_data.to_excel('./files/melon.xlsx', index=False)

In [68]:
url = "https://music.bugs.co.kr/chart"
driver.get(url)

In [69]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [70]:
songs = soup.select('tbody tr')
print(len(songs))

103

In [71]:
songs = soup.select('table.list.trackList.byChart > tbody tr')
print(len(songs))

100

In [72]:
songs[0]

<tr albumid="4071446" artistid="80123427" multiartist="N" mvid="606410" rowtype="track" trackid="6147824">
<input name="_isStream" type="hidden" value="6147824"/>
<input name="_isDown" type="hidden" value="6147824"/>
<td class="check"><input buyminquality="T" disc_id="1" name="check" title="노래 (The Song)" type="checkbox" value="6147824"/></td>
<td>
<div class="ranking">
<strong>1</strong>
<p class="change none"><em>0</em><span>변동없음</span></p>
</div>
</td>
<td>
<a class="thumbnail" href="https://music.bugs.co.kr/album/4071446?wl_ref=list_tr_07_chart" onclick="
">
<span class="mask"></span>
<img alt="Be Together 대표이미지" onerror="bugs.utils.imgError(this);" src="https://image.bugsm.co.kr/album/images/50/40714/4071446.jpg?version=20220222063712.0"/>
</a>
</td>
<td>
<a class="trackInfo" href="https://music.bugs.co.kr/track/6147824?wl_ref=list_tr_08_chart" onclick="
">곡정보</a>
</td>
<th scope="row">
<p adult_yn="N" class="title">
<a adultcheckval="1" aria-label="새창" href="javascript:;" onclick="bugs.wiselog.area('list_tr_09_chart');bugs.music.listen('6147824',true);
" title="노래 (The Song)">노래 (The Song)</a>
</p>
</th>
<td class="left">
<p class="artist">
<a href="https://music.bugs.co.kr/artist/80123427?wl_ref=list_tr_10_chart" onclick="
" title="비투비">비투비</a>
</p>
</td>
<td class="left">
<a class="album" href="https://music.bugs.co.kr/album/4071446?wl_ref=list_tr_11_chart" onclick="
" title="Be Together">Be Together</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn play" href="javascript:;" onclick="bugs.wiselog.area('list_tr_12_chart');bugs.music.listen('6147824',true);
">듣기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn addPlaylist" href="javascript:;" onclick="bugs.wiselog.area('list_tr_13_chart');bugs.music.listen('6147824');
">재생목록에 추가</a>
</td>
<td>
<a class="btn addAlbum" href="javascript:;" onclick="bugs.wiselog.area('list_tr_14_chart');bugs.music.addTrackToMyAlbum(this,'6147824');
" track_title="노래 (The Song)">내 앨범에 담기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn download flac" href="javascript:;" onclick="bugs.wiselog.area('list_tr_15_chart');bugs.layermenu.down(this,'6147824','true','true','44.1','true','96', null );
"><em class="flac">flac </em>다운로드</a>
</td>
<td>
<a aria-label="새창" class="btn viewMV" href="javascript:;" onclick="bugs.wiselog.area('list_tr_16_chart');
bugs.layermenu.mv(this,6147824, 606410, 'Y', 'Y', 'Y', 'Y', 6147824, 'N','ALL', 'Y');
">영상 재생</a>
</td>
<td>
<a artist_disp_nm="비투비" artist_id="80123427" class="btnActions" href="javascript:;" layer_type="CHART" layerpositiontarget="td" onclick="bugs.wiselog.area('list_tr_17_chart');
bugs.layermenu.trackMoreAction(this,'6147824','0','4071446','bugs.music.listenRadioFromSeed(\'6147824\',\'track\');','N', 'Y', '_chart');
" track_title="노래 (The Song)">기타 기능</a>
</td>
</tr>

In [73]:
song = songs[0]
song

<tr albumid="4071446" artistid="80123427" multiartist="N" mvid="606410" rowtype="track" trackid="6147824">
<input name="_isStream" type="hidden" value="6147824"/>
<input name="_isDown" type="hidden" value="6147824"/>
<td class="check"><input buyminquality="T" disc_id="1" name="check" title="노래 (The Song)" type="checkbox" value="6147824"/></td>
<td>
<div class="ranking">
<strong>1</strong>
<p class="change none"><em>0</em><span>변동없음</span></p>
</div>
</td>
<td>
<a class="thumbnail" href="https://music.bugs.co.kr/album/4071446?wl_ref=list_tr_07_chart" onclick="
">
<span class="mask"></span>
<img alt="Be Together 대표이미지" onerror="bugs.utils.imgError(this);" src="https://image.bugsm.co.kr/album/images/50/40714/4071446.jpg?version=20220222063712.0"/>
</a>
</td>
<td>
<a class="trackInfo" href="https://music.bugs.co.kr/track/6147824?wl_ref=list_tr_08_chart" onclick="
">곡정보</a>
</td>
<th scope="row">
<p adult_yn="N" class="title">
<a adultcheckval="1" aria-label="새창" href="javascript:;" onclick="bugs.wiselog.area('list_tr_09_chart');bugs.music.listen('6147824',true);
" title="노래 (The Song)">노래 (The Song)</a>
</p>
</th>
<td class="left">
<p class="artist">
<a href="https://music.bugs.co.kr/artist/80123427?wl_ref=list_tr_10_chart" onclick="
" title="비투비">비투비</a>
</p>
</td>
<td class="left">
<a class="album" href="https://music.bugs.co.kr/album/4071446?wl_ref=list_tr_11_chart" onclick="
" title="Be Together">Be Together</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn play" href="javascript:;" onclick="bugs.wiselog.area('list_tr_12_chart');bugs.music.listen('6147824',true);
">듣기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn addPlaylist" href="javascript:;" onclick="bugs.wiselog.area('list_tr_13_chart');bugs.music.listen('6147824');
">재생목록에 추가</a>
</td>
<td>
<a class="btn addAlbum" href="javascript:;" onclick="bugs.wiselog.area('list_tr_14_chart');bugs.music.addTrackToMyAlbum(this,'6147824');
" track_title="노래 (The Song)">내 앨범에 담기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn download flac" href="javascript:;" onclick="bugs.wiselog.area('list_tr_15_chart');bugs.layermenu.down(this,'6147824','true','true','44.1','true','96', null );
"><em class="flac">flac </em>다운로드</a>
</td>
<td>
<a aria-label="새창" class="btn viewMV" href="javascript:;" onclick="bugs.wiselog.area('list_tr_16_chart');
bugs.layermenu.mv(this,6147824, 606410, 'Y', 'Y', 'Y', 'Y', 6147824, 'N','ALL', 'Y');
">영상 재생</a>
</td>
<td>
<a artist_disp_nm="비투비" artist_id="80123427" class="btnActions" href="javascript:;" layer_type="CHART" layerpositiontarget="td" onclick="bugs.wiselog.area('list_tr_17_chart');
bugs.layermenu.trackMoreAction(this,'6147824','0','4071446','bugs.music.listenRadioFromSeed(\'6147824\',\'track\');','N', 'Y', '_chart');
" track_title="노래 (The Song)">기타 기능</a>
</td>
</tr>

In [75]:
title = song.select('p.title > a')[0].text
title

'노래 (The Song)'

In [76]:
singer = song.select('p.artist > a')[0].text.strip()
singer

'비투비'

In [77]:
song_data = []
rank = 1
songs = soup.select('table.list.trackList.byChart > tbody tr')
for song in songs:
    title = song.select('p.title > a')[0].text
    singer = song.select('p.artist > a')[0].text
    print(title," | ",singer)
    song_data.append(["Bugs",rank,title,singer])
    rank = rank + 1
song_data

노래 (The Song)  |  비투비
봄이 피어나  |  비투비
우리 (Be Together)  |  비투비
Thank You  |  비투비
춤 (Dance With Me)  |  비투비
INVU  |  태연 (TAEYEON)
RUN2U  |  STAYC(스테이씨)
직진 (JIKJIN)  |  TREASURE(트레저)
U  |  TREASURE(트레저)
다라리 (DARARI)  |  TREASURE(트레저)
Stronger (What Doesn't Kill You)  |  Kelly Clarkson(켈리 클락슨)
겨울..그다음 봄  |  로시(Rothy)
괜찮아질 거야 (IT'S OKAY)  |  TREASURE(트레저)
ELEVEN  |  IVE (아이브)
SMILEY (Feat. BIBI)  |  YENA (최예나)
그래서 그래 (Feat. 윤하)  |  에픽하이 (EPIK HIGH)
나랑 있자 (BE WITH ME)  |  TREASURE(트레저)
abcdefu  |  GAYLE
Can't Control Myself  |  태연 (TAEYEON)
그런 밤 (Some Nights)  |  태연 (TAEYEON)
Step Back  |  GOT the beat
취중고백  |  김민석 (멜로망스)
사랑은 늘 도망가  |  임영웅
언제나 사랑해  |  케이시
드라마  |  아이유(IU)
Dreams Come True  |  aespa
눈이 오잖아(Feat.헤이즈)  |  이무진
어른아이 (Toddler)  |  태연 (TAEYEON)
서랍  |  10CM
STAY  |  The Kid LAROI
신호등  |  이무진
strawberry moon  |  아이유(IU)
Next Level  |  aespa
회전목마 (Feat. Zion.T, 원슈타인) (Prod. Slom)  |  sokodomo
겨울잠  |  아이유(IU)
BOP BOP!  |  VIVIZ (비비지)
우리가 헤어져야 했던 이유  |  비비(BIBI)
그날들  |  김기태
Weekend  |  태연 (TAEYEON)
Dynamite  |  방탄소년단
Set Myself On Fire  |  태연 (TAEYEON)
다정히 내 이름을 부르면  |  경서예지
잊을 수 있을까  |  노을
Light Switch  |  Charlie Puth(찰리 푸스)
DM  |  프로미스나인
Siren  |  태연 (TAEYEON)
대낮에 한 이별  |  선예
Timeless  |  태연 (TAEYEON)
낙하 (with 아이유)  |  AKMU(악뮤)
Savage  |  aespa
Counting Stars (Feat. Beenzino)  |  BE'O (비오)
Butter  |  방탄소년단
너무 아픈 사랑은 사랑이 아니었음을  |  김기태
WA DA DA  |  Kep1er (케플러)
호랑수월가  |  탑현
바라만 본다  |  MSG워너비(M.O.M)
너 아니면 안돼  |  먼데이 키즈(Monday Kiz)
Permission to Dance  |  방탄소년단
Christmas Tree  |  V
O.O  |  NMIXX
아무렇지 않은 척  |  빅마마(Big Mama)
Dilemma  |  Apink (에이핑크)
여름비  |  샘김(Sam Kim)
문득  |  BE'O (비오)
라일락  |  아이유(IU)
Celebrity  |  아이유(IU)
리무진 (Feat. MINO) (Prod. GRAY)  |  BE'O (비오)
You Better Not  |  태연 (TAEYEON)
Cold As Hell  |  태연 (TAEYEON)
너, 너 (N번째 연애 X 휘인 (Whee In))  |  휘인(Whee In)
My Universe  |  Coldplay(콜드플레이)
만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. TOIL)  |  베이식(Basick)
Peaches (feat. Daniel Caesar, Giveon)  |  Justin Bieber(저스틴 비버)
품 (Heart)  |  태연 (TAEYEON)
No Love Again  |  태연 (TAEYEON)
너의 모든 순간  |  성시경
사랑인가 봐  |  멜로망스(MeloMance)
습관  |  WH3N(웬)
Tiny Riot  |  Sam Ryder
너를 생각해  |  주시크 (Joosiq)
Bad Habits  |  Ed Sheeran(에드 시런)
라일락이 질 때  |  이주혁
OHAYO MY NIGHT  |  디핵(D-Hack)
별빛 같은 나의 사랑아  |  임영웅
ASAP  |  STAYC(스테이씨)
Off My Face  |  Justin Bieber(저스틴 비버)
헤픈 우연  |  헤이즈(Heize)
모든 날, 모든 순간 (Every day, Every Moment)  |  폴킴(Paul Kim)
흰눈  |  먼데이 키즈(Monday Kiz)
이제 나만 믿어요  |  임영웅
고백  |  멜로망스(MeloMance)
Still I Love You  |  토요태
이별후회  |  김나영
Ending Credits  |  태연 (TAEYEON)
Satellite  |  수지
아주, 천천히  |  비비(BIBI)
흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야  |  장범준
Queendom  |  Red Velvet (레드벨벳)
Polaroid Love  |  ENHYPEN
Blueming  |  아이유(IU)

[['Bugs', 1, '노래 (The Song)', '비투비'],
 ['Bugs', 2, '봄이 피어나', '비투비'],
 ['Bugs', 3, '우리 (Be Together)', '비투비'],
 ['Bugs', 4, 'Thank You', '비투비'],
 ['Bugs', 5, '춤 (Dance With Me)', '비투비'],
 ['Bugs', 6, 'INVU', '태연 (TAEYEON)'],
 ['Bugs', 7, 'RUN2U', 'STAYC(스테이씨)'],
 ['Bugs', 8, '직진 (JIKJIN)', 'TREASURE(트레저)'],
 ['Bugs', 9, 'U', 'TREASURE(트레저)'],
 ['Bugs', 10, '다라리 (DARARI)', 'TREASURE(트레저)'],
 ['Bugs', 11, "Stronger (What Doesn't Kill You)", 'Kelly Clarkson(켈리 클락슨)'],
 ['Bugs', 12, '겨울..그다음 봄', '로시(Rothy)'],
 ['Bugs', 13, "괜찮아질 거야 (IT'S OKAY)", 'TREASURE(트레저)'],
 ['Bugs', 14, 'ELEVEN', 'IVE (아이브)'],
 ['Bugs', 15, 'SMILEY (Feat. BIBI)', 'YENA (최예나)'],
 ['Bugs', 16, '그래서 그래 (Feat. 윤하)', '에픽하이 (EPIK HIGH)'],
 ['Bugs', 17, '나랑 있자 (BE WITH ME)', 'TREASURE(트레저)'],
 ['Bugs', 18, 'abcdefu', 'GAYLE'],
 ['Bugs', 19, "Can't Control Myself", '태연 (TAEYEON)'],
 ['Bugs', 20, '그런 밤 (Some Nights)', '태연 (TAEYEON)'],
 ['Bugs', 21, 'Step Back', 'GOT the beat'],
 ['Bugs', 22, '취중고백', '김민석 (멜로망스)'],
 ['Bugs', 23, '사랑은 늘 도망가', '임영웅'],
 ['Bugs', 24, '언제나 사랑해', '케이시'],
 ['Bugs', 25, '드라마', '아이유(IU)'],
 ['Bugs', 26, 'Dreams Come True', 'aespa'],
 ['Bugs', 27, '눈이 오잖아(Feat.헤이즈)', '이무진'],
 ['Bugs', 28, '어른아이 (Toddler)', '태연 (TAEYEON)'],
 ['Bugs', 29, '서랍', '10CM'],
 ['Bugs', 30, 'STAY', 'The Kid LAROI'],
 ['Bugs', 31, '신호등', '이무진'],
 ['Bugs', 32, 'strawberry moon', '아이유(IU)'],
 ['Bugs', 33, 'Next Level', 'aespa'],
 ['Bugs', 34, '회전목마 (Feat. Zion.T, 원슈타인) (Prod. Slom)', 'sokodomo'],
 ['Bugs', 35, '겨울잠', '아이유(IU)'],
 ['Bugs', 36, 'BOP BOP!', 'VIVIZ (비비지)'],
 ['Bugs', 37, '우리가 헤어져야 했던 이유', '비비(BIBI)'],
 ['Bugs', 38, '그날들', '김기태'],
 ['Bugs', 39, 'Weekend', '태연 (TAEYEON)'],
 ['Bugs', 40, 'Dynamite', '방탄소년단'],
 ['Bugs', 41, 'Set Myself On Fire', '태연 (TAEYEON)'],
 ['Bugs', 42, '다정히 내 이름을 부르면', '경서예지'],
 ['Bugs', 43, '잊을 수 있을까', '노을'],
 ['Bugs', 44, 'Light Switch', 'Charlie Puth(찰리 푸스)'],
 ['Bugs', 45, 'DM', '프로미스나인'],
 ['Bugs', 46, 'Siren', '태연 (TAEYEON)'],
 ['Bugs', 47, '대낮에 한 이별', '선예'],
 ['Bugs', 48, 'Timeless', '태연 (TAEYEON)'],
 ['Bugs', 49, '낙하 (with 아이유)', 'AKMU(악뮤)'],
 ['Bugs', 50, 'Savage', 'aespa'],
 ['Bugs', 51, 'Counting Stars (Feat. Beenzino)', "BE'O (비오)"],
 ['Bugs', 52, 'Butter', '방탄소년단'],
 ['Bugs', 53, '너무 아픈 사랑은 사랑이 아니었음을', '김기태'],
 ['Bugs', 54, 'WA DA DA', 'Kep1er (케플러)'],
 ['Bugs', 55, '호랑수월가', '탑현'],
 ['Bugs', 56, '바라만 본다', 'MSG워너비(M.O.M)'],
 ['Bugs', 57, '너 아니면 안돼', '먼데이 키즈(Monday Kiz)'],
 ['Bugs', 58, 'Permission to Dance', '방탄소년단'],
 ['Bugs', 59, 'Christmas Tree', 'V'],
 ['Bugs', 60, 'O.O', 'NMIXX'],
 ['Bugs', 61, '아무렇지 않은 척', '빅마마(Big Mama)'],
 ['Bugs', 62, 'Dilemma', 'Apink (에이핑크)'],
 ['Bugs', 63, '여름비', '샘김(Sam Kim)'],
 ['Bugs', 64, '문득', "BE'O (비오)"],
 ['Bugs', 65, '라일락', '아이유(IU)'],
 ['Bugs', 66, 'Celebrity', '아이유(IU)'],
 ['Bugs', 67, '리무진 (Feat. MINO) (Prod. GRAY)', "BE'O (비오)"],
 ['Bugs', 68, 'You Better Not', '태연 (TAEYEON)'],
 ['Bugs', 69, 'Cold As Hell', '태연 (TAEYEON)'],
 ['Bugs', 70, '너, 너 (N번째 연애 X 휘인 (Whee In))', '휘인(Whee In)'],
 ['Bugs', 71, 'My Universe', 'Coldplay(콜드플레이)'],
 ['Bugs', 72, '만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. TOIL)', '베이식(Basick)'],
 ['Bugs',
  73,
  'Peaches (feat. Daniel Caesar, Giveon)',
  'Justin Bieber(저스틴 비버)'],
 ['Bugs', 74, '품 (Heart)', '태연 (TAEYEON)'],
 ['Bugs', 75, 'No Love Again', '태연 (TAEYEON)'],
 ['Bugs', 76, '너의 모든 순간', '성시경'],
 ['Bugs', 77, '사랑인가 봐', '멜로망스(MeloMance)'],
 ['Bugs', 78, '습관', 'WH3N(웬)'],
 ['Bugs', 79, 'Tiny Riot', 'Sam Ryder'],
 ['Bugs', 80, '너를 생각해', '주시크 (Joosiq)'],
 ['Bugs', 81, 'Bad Habits', 'Ed Sheeran(에드 시런)'],
 ['Bugs', 82, '라일락이 질 때', '이주혁'],
 ['Bugs', 83, 'OHAYO MY NIGHT', '디핵(D-Hack)'],
 ['Bugs', 84, '별빛 같은 나의 사랑아', '임영웅'],
 ['Bugs', 85, 'ASAP', 'STAYC(스테이씨)'],
 ['Bugs', 86, 'Off My Face', 'Justin Bieber(저스틴 비버)'],
 ['Bugs', 87, '헤픈 우연', '헤이즈(Heize)'],
 ['Bugs', 88, '모든 날, 모든 순간 (Every day, Every Moment)', '폴킴(Paul Kim)'],
 ['Bugs', 89, '흰눈', '먼데이 키즈(Monday Kiz)'],
 ['Bugs', 90, '이제 나만 믿어요', '임영웅'],
 ['Bugs', 91, '고백', '멜로망스(MeloMance)'],
 ['Bugs', 92, 'Still I Love You', '토요태'],
 ['Bugs', 93, '이별후회', '김나영'],
 ['Bugs', 94, 'Ending Credits', '태연 (TAEYEON)'],
 ['Bugs', 95, 'Satellite', '수지'],
 ['Bugs', 96, '아주, 천천히', '비비(BIBI)'],
 ['Bugs', 97, '흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야', '장범준'],
 ['Bugs', 98, 'Queendom', 'Red Velvet (레드벨벳)'],
 ['Bugs', 99, 'Polaroid Love', 'ENHYPEN'],
 ['Bugs', 100, 'Blueming', '아이유(IU)']]

In [80]:
columns = ['서비스','순위','타이틀','가수']
pd_data = pd.DataFrame(song_data,columns = columns)
pd_data.head()

    서비스  순위                타이틀   가수
0  Bugs   1      노래 (The Song)  비투비
1  Bugs   2             봄이 피어나  비투비
2  Bugs   3   우리 (Be Together)  비투비
3  Bugs   4          Thank You  비투비
4  Bugs   5  춤 (Dance With Me)  비투비

In [81]:
pd_data.to_excel('./files/bugs.xlsx',index=False)

In [82]:
url = "https://www.genie.co.kr/chart/top200"
driver.get(url)

In [83]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [84]:
songs = soup.select('table.list-wrap > tbody > tr')
print(len(songs))

50

In [85]:
song = songs[0]
song

<tr class="list" songid="95990155">
<td class="check"><input class="select-check" title="INVU" type="checkbox"/></td>
<td class="number">1

                                    <span class="rank">
<span class="rank"><span class="rank-up">1<span class="hide">상승</span></span></span>
</span>
</td>
<td><a class="cover" href="#" onclick="fnViewAlbumLayer('82529386');return false;"><span class="mask"></span><img alt="INVU - The 3rd Album" onerror="this.src='//image.genie.co.kr/imageg/web/common/blank_68.gif';" src="//image.genie.co.kr/Y/IMAGE/IMG_ALBUM/082/529/386/82529386_1644820151763_1_140x140.JPG/dims/resize/Q_80,0"/></a></td>
<td class="link"><a class="btn-basic btn-info" href="#" onclick="fnViewSongInfo('95990155');return false;">곡 제목 정보 페이지</a></td>
<td class="info">
<a class="title ellipsis" href="#" onclick="fnPlaySong('95990155','1');return false;" title="재생">







                                                INVU</a>
<a class="artist ellipsis" href="#" onclick="fnViewArtist('56069675');return false;">태연 (TAEYEON)</a>
<div class="toggle-button-box">
<button class="btn artist-etc" onclick="fnRelationArtistList('95990155');" type="button">외</button>
<ul class="list" id="RelationArtist_95990155"></ul>
</div>
<i class="bar">|</i>
<a class="albumtitle ellipsis" href="#" onclick="fnViewAlbumLayer('82529386');return false;">INVU - The 3rd Album</a>
</td>
<td class="btns"><a class="btn-basic btn-listen" href="#" onclick="fnPlaySong('95990155;' ,'1'); return false;" title="재생">듣기</a></td>
<td class="btns"><a class="btn-basic btn-add" href="#" onclick="fnPlaySong('95990155;' ,'3'); return false;" title="추가">재생목록에 추가</a></td>
<td class="btns"><button class="btn-basic btn-album" id="add_my_album_95990155" onclick="fnAddMyAlbumForm('#add_my_album_95990155' , '95990155' ,10, 10);return false;" songid="95990155" type="button">플레이리스트에 담기</button></td>
<td class="btns"><a class="btn-basic btn-down" href="#" onclick="fnDownSong('95990155');return false;" title="다운">다운로드</a></td>
<td class="btns">
<div class="toggle-button-box lyr-mv" id="list-mv_95990155">
<a alt="INVU" class="btn btn-basic btn-mv" href="#" onclick="fnPlayMv('95990155','3'); return false;" title="뮤비">뮤직비디오 보기</a>
</div>
</td>
<td class="more">
<div class="toggle-button-box">
<button class="btn btn-basic btn-more" type="button">더보기</button>
<ul class="list">
<li><a class="item" href="#" onclick="shareDo('95990155');return false;" title="공유">공유하기/음악나누기</a></li>
<li><a class="item" href="#" onclick="fnGiftSong('95990155');return false;" title="선물">선물하기</a></li>
</ul>
</div>
</td>
</tr>

In [86]:
title = song.select('td.info > a.ellipsis')[0].text
title = title.replace('\n',"")
title = title.replace(' ',"")
title

'INVU'

In [87]:
singer = song.select('td.info > a.artist')[0].text
singer

'태연 (TAEYEON)'

In [88]:
song_data = []
rank = 1
songs = soup.select('table.list-wrap > tbody > tr')
for song in songs:
    title = song.select('td.info > a.ellipsis')[0].text
    title = title.replace('\n',"")
    title = title.replace(' ',"")
    singer = song.select('td.info > a.artist')[0].text
    print(title," | ",singer)
    song_data.append(["Genie",rank,title,singer])
    rank = rank + 1
song_data

INVU  |  태연 (TAEYEON)
노래(TheSong)  |  비투비
취중고백  |  김민석 (멜로망스)
abcdefu  |  GAYLE
사랑은늘도망가  |  임영웅
그래서그래(Feat.윤하)  |  에픽하이 (EPIK HIGH)
다정히내이름을부르면  |  경서예지 & 전건호
호랑수월가  |  탑현
회전목마(Feat.Zion.T&원슈타인)(Prod.bySlom)  |  sokodomo
ELEVEN  |  IVE (아이브)
잊을수있을까  |  노을
언제나사랑해  |  케이시 (Kassy)
이제나만믿어요  |  임영웅
StepBack  |  GOT the beat
다시사랑한다면(김필Ver.)  |  임영웅
리무진(Feat.MINO)(Prod.byGRAY)  |  BE'O (비오)
서랍  |  10CM
눈이오잖아(Feat.헤이즈)  |  이무진
Stay  |  The Kid LAROI & Justin Bieber
신호등  |  이무진
CountingStars(Feat.Beenzino)  |  BE'O (비오)
strawberrymoon  |  아이유 (IU)
NextLevel  |  aespa
겨울잠  |  아이유 (IU)
별빛같은나의사랑아  |  임영웅
Can'tControlMyself  |  태연 (TAEYEON)
그대라는사치  |  임영웅
끝사랑  |  임영웅
Weekend  |  태연 (TAEYEON)
잊었니  |  임영웅
겨울..그다음봄  |  로시 (Rothy)
HERO  |  임영웅
너,너(N번째연애X휘인(WheeIn))  |  휘인 (Whee In)
BadHabits  |  Ed Sheeran
OHAYOMYNIGHT  |  디핵 (D-Hack) & PATEKO
BkLove  |  임영웅
문득  |  BE'O (비오)
TinyRiot  |  Sam Ryder
만남은쉽고이별은어려워(Feat.Leellamarz)(Prod.byTOIL)  |  베이식
SMILEY(Feat.BIBI)  |  YENA (최예나)
흰눈  |  먼데이 키즈 (Monday Kiz)
바라만본다  |  MSG워너비 (M.O.M)
Stronger(WhatDoesn'tKillYou)  |  Kelly Clarkson
봄이피어나  |  비투비
DreamsComeTrue  |  aespa
드라마  |  아이유 (IU)
우리가헤어져야했던이유  |  비비 (BIBI)
너를생각해  |  주시크 (Joosiq)
라일락  |  아이유 (IU)
PermissiontoDance  |  방탄소년단

[['Genie', 1, 'INVU', '태연 (TAEYEON)'],
 ['Genie', 2, '노래(TheSong)', '비투비'],
 ['Genie', 3, '취중고백', '김민석 (멜로망스)'],
 ['Genie', 4, 'abcdefu', 'GAYLE'],
 ['Genie', 5, '사랑은늘도망가', '임영웅'],
 ['Genie', 6, '그래서그래(Feat.윤하)', '에픽하이 (EPIK HIGH)'],
 ['Genie', 7, '다정히내이름을부르면', '경서예지 & 전건호'],
 ['Genie', 8, '호랑수월가', '탑현'],
 ['Genie', 9, '회전목마(Feat.Zion.T&원슈타인)(Prod.bySlom)', 'sokodomo'],
 ['Genie', 10, 'ELEVEN', 'IVE (아이브)'],
 ['Genie', 11, '잊을수있을까', '노을'],
 ['Genie', 12, '언제나사랑해', '케이시 (Kassy)'],
 ['Genie', 13, '이제나만믿어요', '임영웅'],
 ['Genie', 14, 'StepBack', 'GOT the beat'],
 ['Genie', 15, '다시사랑한다면(김필Ver.)', '임영웅'],
 ['Genie', 16, '리무진(Feat.MINO)(Prod.byGRAY)', "BE'O (비오)"],
 ['Genie', 17, '서랍', '10CM'],
 ['Genie', 18, '눈이오잖아(Feat.헤이즈)', '이무진'],
 ['Genie', 19, 'Stay', 'The Kid LAROI & Justin Bieber'],
 ['Genie', 20, '신호등', '이무진'],
 ['Genie', 21, 'CountingStars(Feat.Beenzino)', "BE'O (비오)"],
 ['Genie', 22, 'strawberrymoon', '아이유 (IU)'],
 ['Genie', 23, 'NextLevel', 'aespa'],
 ['Genie', 24, '겨울잠', '아이유 (IU)'],
 ['Genie', 25, '별빛같은나의사랑아', '임영웅'],
 ['Genie', 26, "Can'tControlMyself", '태연 (TAEYEON)'],
 ['Genie', 27, '그대라는사치', '임영웅'],
 ['Genie', 28, '끝사랑', '임영웅'],
 ['Genie', 29, 'Weekend', '태연 (TAEYEON)'],
 ['Genie', 30, '잊었니', '임영웅'],
 ['Genie', 31, '겨울..그다음봄', '로시 (Rothy)'],
 ['Genie', 32, 'HERO', '임영웅'],
 ['Genie', 33, '너,너(N번째연애X휘인(WheeIn))', '휘인 (Whee In)'],
 ['Genie', 34, 'BadHabits', 'Ed Sheeran'],
 ['Genie', 35, 'OHAYOMYNIGHT', '디핵 (D-Hack) & PATEKO'],
 ['Genie', 36, 'BkLove', '임영웅'],
 ['Genie', 37, '문득', "BE'O (비오)"],
 ['Genie', 38, 'TinyRiot', 'Sam Ryder'],
 ['Genie', 39, '만남은쉽고이별은어려워(Feat.Leellamarz)(Prod.byTOIL)', '베이식'],
 ['Genie', 40, 'SMILEY(Feat.BIBI)', 'YENA (최예나)'],
 ['Genie', 41, '흰눈', '먼데이 키즈 (Monday Kiz)'],
 ['Genie', 42, '바라만본다', 'MSG워너비 (M.O.M)'],
 ['Genie', 43, "Stronger(WhatDoesn'tKillYou)", 'Kelly Clarkson'],
 ['Genie', 44, '봄이피어나', '비투비'],
 ['Genie', 45, 'DreamsComeTrue', 'aespa'],
 ['Genie', 46, '드라마', '아이유 (IU)'],
 ['Genie', 47, '우리가헤어져야했던이유', '비비 (BIBI)'],
 ['Genie', 48, '너를생각해', '주시크 (Joosiq)'],
 ['Genie', 49, '라일락', '아이유 (IU)'],
 ['Genie', 50, 'PermissiontoDance', '방탄소년단']]

In [89]:
columns = ['서비스','순위','타이틀','가수']
pd_data = pd.DataFrame(song_data,columns = columns)
pd_data.head()

     서비스  순위          타이틀            가수
0  Genie   1         INVU  태연 (TAEYEON)
1  Genie   2  노래(TheSong)           비투비
2  Genie   3         취중고백    김민석 (멜로망스)
3  Genie   4      abcdefu         GAYLE
4  Genie   5      사랑은늘도망가           임영웅

In [90]:
pd_data.to_excel('./files/genie.xlsx',index=False)

In [91]:
rank = 51
songs = soup.select('table.list-wrap > tbody > tr')
for song in songs:
    title = song.select('td.info > a.ellipsis')[0].text
    title = title.replace('\n',"")
    title = title.replace(' ',"")
    singer = song.select('td.info > a.artist')[0].text
    print(title," | ",singer)
    song_data.append(["Genie",rank,title,singer])
    rank = rank + 1
song_data

INVU  |  태연 (TAEYEON)
노래(TheSong)  |  비투비
취중고백  |  김민석 (멜로망스)
abcdefu  |  GAYLE
사랑은늘도망가  |  임영웅
그래서그래(Feat.윤하)  |  에픽하이 (EPIK HIGH)
다정히내이름을부르면  |  경서예지 & 전건호
호랑수월가  |  탑현
회전목마(Feat.Zion.T&원슈타인)(Prod.bySlom)  |  sokodomo
ELEVEN  |  IVE (아이브)
잊을수있을까  |  노을
언제나사랑해  |  케이시 (Kassy)
이제나만믿어요  |  임영웅
StepBack  |  GOT the beat
다시사랑한다면(김필Ver.)  |  임영웅
리무진(Feat.MINO)(Prod.byGRAY)  |  BE'O (비오)
서랍  |  10CM
눈이오잖아(Feat.헤이즈)  |  이무진
Stay  |  The Kid LAROI & Justin Bieber
신호등  |  이무진
CountingStars(Feat.Beenzino)  |  BE'O (비오)
strawberrymoon  |  아이유 (IU)
NextLevel  |  aespa
겨울잠  |  아이유 (IU)
별빛같은나의사랑아  |  임영웅
Can'tControlMyself  |  태연 (TAEYEON)
그대라는사치  |  임영웅
끝사랑  |  임영웅
Weekend  |  태연 (TAEYEON)
잊었니  |  임영웅
겨울..그다음봄  |  로시 (Rothy)
HERO  |  임영웅
너,너(N번째연애X휘인(WheeIn))  |  휘인 (Whee In)
BadHabits  |  Ed Sheeran
OHAYOMYNIGHT  |  디핵 (D-Hack) & PATEKO
BkLove  |  임영웅
문득  |  BE'O (비오)
TinyRiot  |  Sam Ryder
만남은쉽고이별은어려워(Feat.Leellamarz)(Prod.byTOIL)  |  베이식
SMILEY(Feat.BIBI)  |  YENA (최예나)
흰눈  |  먼데이 키즈 (Monday Kiz)
바라만본다  |  MSG워너비 (M.O.M)
Stronger(WhatDoesn'tKillYou)  |  Kelly Clarkson
봄이피어나  |  비투비
DreamsComeTrue  |  aespa
드라마  |  아이유 (IU)
우리가헤어져야했던이유  |  비비 (BIBI)
너를생각해  |  주시크 (Joosiq)
라일락  |  아이유 (IU)
PermissiontoDance  |  방탄소년단

[['Genie', 1, 'INVU', '태연 (TAEYEON)'],
 ['Genie', 2, '노래(TheSong)', '비투비'],
 ['Genie', 3, '취중고백', '김민석 (멜로망스)'],
 ['Genie', 4, 'abcdefu', 'GAYLE'],
 ['Genie', 5, '사랑은늘도망가', '임영웅'],
 ['Genie', 6, '그래서그래(Feat.윤하)', '에픽하이 (EPIK HIGH)'],
 ['Genie', 7, '다정히내이름을부르면', '경서예지 & 전건호'],
 ['Genie', 8, '호랑수월가', '탑현'],
 ['Genie', 9, '회전목마(Feat.Zion.T&원슈타인)(Prod.bySlom)', 'sokodomo'],
 ['Genie', 10, 'ELEVEN', 'IVE (아이브)'],
 ['Genie', 11, '잊을수있을까', '노을'],
 ['Genie', 12, '언제나사랑해', '케이시 (Kassy)'],
 ['Genie', 13, '이제나만믿어요', '임영웅'],
 ['Genie', 14, 'StepBack', 'GOT the beat'],
 ['Genie', 15, '다시사랑한다면(김필Ver.)', '임영웅'],
 ['Genie', 16, '리무진(Feat.MINO)(Prod.byGRAY)', "BE'O (비오)"],
 ['Genie', 17, '서랍', '10CM'],
 ['Genie', 18, '눈이오잖아(Feat.헤이즈)', '이무진'],
 ['Genie', 19, 'Stay', 'The Kid LAROI & Justin Bieber'],
 ['Genie', 20, '신호등', '이무진'],
 ['Genie', 21, 'CountingStars(Feat.Beenzino)', "BE'O (비오)"],
 ['Genie', 22, 'strawberrymoon', '아이유 (IU)'],
 ['Genie', 23, 'NextLevel', 'aespa'],
 ['Genie', 24, '겨울잠', '아이유 (IU)'],
 ['Genie', 25, '별빛같은나의사랑아', '임영웅'],
 ['Genie', 26, "Can'tControlMyself", '태연 (TAEYEON)'],
 ['Genie', 27, '그대라는사치', '임영웅'],
 ['Genie', 28, '끝사랑', '임영웅'],
 ['Genie', 29, 'Weekend', '태연 (TAEYEON)'],
 ['Genie', 30, '잊었니', '임영웅'],
 ['Genie', 31, '겨울..그다음봄', '로시 (Rothy)'],
 ['Genie', 32, 'HERO', '임영웅'],
 ['Genie', 33, '너,너(N번째연애X휘인(WheeIn))', '휘인 (Whee In)'],
 ['Genie', 34, 'BadHabits', 'Ed Sheeran'],
 ['Genie', 35, 'OHAYOMYNIGHT', '디핵 (D-Hack) & PATEKO'],
 ['Genie', 36, 'BkLove', '임영웅'],
 ['Genie', 37, '문득', "BE'O (비오)"],
 ['Genie', 38, 'TinyRiot', 'Sam Ryder'],
 ['Genie', 39, '만남은쉽고이별은어려워(Feat.Leellamarz)(Prod.byTOIL)', '베이식'],
 ['Genie', 40, 'SMILEY(Feat.BIBI)', 'YENA (최예나)'],
 ['Genie', 41, '흰눈', '먼데이 키즈 (Monday Kiz)'],
 ['Genie', 42, '바라만본다', 'MSG워너비 (M.O.M)'],
 ['Genie', 43, "Stronger(WhatDoesn'tKillYou)", 'Kelly Clarkson'],
 ['Genie', 44, '봄이피어나', '비투비'],
 ['Genie', 45, 'DreamsComeTrue', 'aespa'],
 ['Genie', 46, '드라마', '아이유 (IU)'],
 ['Genie', 47, '우리가헤어져야했던이유', '비비 (BIBI)'],
 ['Genie', 48, '너를생각해', '주시크 (Joosiq)'],
 ['Genie', 49, '라일락', '아이유 (IU)'],
 ['Genie', 50, 'PermissiontoDance', '방탄소년단'],
 ['Genie', 51, 'INVU', '태연 (TAEYEON)'],
 ['Genie', 52, '노래(TheSong)', '비투비'],
 ['Genie', 53, '취중고백', '김민석 (멜로망스)'],
 ['Genie', 54, 'abcdefu', 'GAYLE'],
 ['Genie', 55, '사랑은늘도망가', '임영웅'],
 ['Genie', 56, '그래서그래(Feat.윤하)', '에픽하이 (EPIK HIGH)'],
 ['Genie', 57, '다정히내이름을부르면', '경서예지 & 전건호'],
 ['Genie', 58, '호랑수월가', '탑현'],
 ['Genie', 59, '회전목마(Feat.Zion.T&원슈타인)(Prod.bySlom)', 'sokodomo'],
 ['Genie', 60, 'ELEVEN', 'IVE (아이브)'],
 ['Genie', 61, '잊을수있을까', '노을'],
 ['Genie', 62, '언제나사랑해', '케이시 (Kassy)'],
 ['Genie', 63, '이제나만믿어요', '임영웅'],
 ['Genie', 64, 'StepBack', 'GOT the beat'],
 ['Genie', 65, '다시사랑한다면(김필Ver.)', '임영웅'],
 ['Genie', 66, '리무진(Feat.MINO)(Prod.byGRAY)', "BE'O (비오)"],
 ['Genie', 67, '서랍', '10CM'],
 ['Genie', 68, '눈이오잖아(Feat.헤이즈)', '이무진'],
 ['Genie', 69, 'Stay', 'The Kid LAROI & Justin Bieber'],
 ['Genie', 70, '신호등', '이무진'],
 ['Genie', 71, 'CountingStars(Feat.Beenzino)', "BE'O (비오)"],
 ['Genie', 72, 'strawberrymoon', '아이유 (IU)'],
 ['Genie', 73, 'NextLevel', 'aespa'],
 ['Genie', 74, '겨울잠', '아이유 (IU)'],
 ['Genie', 75, '별빛같은나의사랑아', '임영웅'],
 ['Genie', 76, "Can'tControlMyself", '태연 (TAEYEON)'],
 ['Genie', 77, '그대라는사치', '임영웅'],
 ['Genie', 78, '끝사랑', '임영웅'],
 ['Genie', 79, 'Weekend', '태연 (TAEYEON)'],
 ['Genie', 80, '잊었니', '임영웅'],
 ['Genie', 81, '겨울..그다음봄', '로시 (Rothy)'],
 ['Genie', 82, 'HERO', '임영웅'],
 ['Genie', 83, '너,너(N번째연애X휘인(WheeIn))', '휘인 (Whee In)'],
 ['Genie', 84, 'BadHabits', 'Ed Sheeran'],
 ['Genie', 85, 'OHAYOMYNIGHT', '디핵 (D-Hack) & PATEKO'],
 ['Genie', 86, 'BkLove', '임영웅'],
 ['Genie', 87, '문득', "BE'O (비오)"],
 ['Genie', 88, 'TinyRiot', 'Sam Ryder'],
 ['Genie', 89, '만남은쉽고이별은어려워(Feat.Leellamarz)(Prod.byTOIL)', '베이식'],
 ['Genie', 90, 'SMILEY(Feat.BIBI)', 'YENA (최예나)'],
 ['Genie', 91, '흰눈', '먼데이 키즈 (Monday Kiz)'],
 ['Genie', 92, '바라만본다', 'MSG워너비 (M.O.M)'],
 ['Genie', 93, "Stronger(WhatDoesn'tKillYou)", 'Kelly Clarkson'],
 ['Genie', 94, '봄이피어나', '비투비'],
 ['Genie', 95, 'DreamsComeTrue', 'aespa'],
 ['Genie', 96, '드라마', '아이유 (IU)'],
 ['Genie', 97, '우리가헤어져야했던이유', '비비 (BIBI)'],
 ['Genie', 98, '너를생각해', '주시크 (Joosiq)'],
 ['Genie', 99, '라일락', '아이유 (IU)'],
 ['Genie', 100, 'PermissiontoDance', '방탄소년단']]

In [93]:
excel_names = ['./files/melon.xlsx','.files/bugs.xlsx','./files/genie.xlsx']
appended_data = pd.DataFrame()

for name in excel_names:
    pd_data = pd.read_excel(name)
    appended_data = appended_data.append(pd_data)

FileNotFoundError: [Errno 2] No such file or directory: '.files/bugs.xlsx'

In [ ]:
appended_data.info()

In [ ]:
appended_data.to_excel('./files/total.xlsx',index=False)